{{!-- {{# each products }}
    <div class="row">
        {{# each this }}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
                    <div class="caption">
                        <h3>{{ this.title }}</h3>
                        <p class="description">{{ this.description }}</p>
                        <div class="clearfix">
                            <div class="price pull-left">${{ this.price }}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}} --}}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn-image.myrecipes.com/sites/default/files/styles/medium_2x/public/6045301_dtlet8152.jpg?itok=p8e70RY3" alt="...">
      <div class="caption">
        <h3>Fajitas</h3>
        <p>Taqueria sauce, fajita chicken, sauteed red pepper, green pepper, onion, cilantro and mozzarella</p>
         <p>$10.99</p> <a href="#" class="btn btn-success" role="button">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://pinchofyum.com/wp-content/uploads/Best-Easy-Pasta-Salad-Recipe.jpg" alt="...">
      <div class="caption">
        <h3>Pasta Salad</h3>
        <p>Steak, Bell Pepper, Green Beans, Tomatoes, Carrot</p>
         <p>$10.99</p><a href="#" class="btn btn-success" role="button">Add to Cart</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.apartmenttherapy.info/image/fetch/f_jpg,q_auto,f_auto,fl_strip_profile,c_fit/https://s3.amazonaws.com/pixtruder/original_images/c0d49cd0c7ff33b17764502ed22777d702599990" alt="...">
      <div class="caption">
        <h3>Tomato Soup</h3>
        <p>Tomato, heavy cream, water, crutons, basil</p>
        <p>$5.99</p><a href="#" class="btn btn-success" role="button">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://www.seriouseats.com/recipes/images/2013/04/040313-246922-Sunday-Supper-Jamaican-Beef-StewB.jpg" alt="...">
      <div class="caption">
        <h3>Beef Stew with Rice</h3>
        <p>Beef, tomato sauce, rice, vegetable oil</p>
         <p>$10.99</p> <a href="#" class="btn btn-success" role="button">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Brocoli_and_cheddar_soup_with_focaccia.jpg" alt="...">
      <div class="caption">
        <h3>Brocolli Chedar Soup</h3>
        <p>Brocolli, chedar, olive oil</p>
        <p>$5.99</p><a href="#" class="btn btn-success" role="button">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://food-images.files.bbci.co.uk/food/recipes/how_to_make_sourdough_08213_16x9.jpg" alt="...">
      <div class="caption">
        <h3>Sourdough Bread</h3>
        <p>Flour, vegetable oil, sourdough yeast</p>
        <p>$5.99</p><a href="#" class="btn btn-success" role="button">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>
